In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

In [4]:
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

In [5]:
spark

In [6]:
spark.sql(
  """
  CREATE TABLE local.carro_iceberg (
    id INT, 
    placa STRING, 
    marca STRING, 
    modelo STRING, 
    ano INT, 
    cor STRING
  ) USING iceberg
  """
)

DataFrame[]

In [7]:
spark.sql(
  """
  INSERT INTO local.carro_iceberg VALUES
    (1, 'ABC1234', 'Fiat', 'Uno', 2020, 'Azul'),
    (2, 'XYZ5678', 'Volkswagen', 'Gol', 2018, 'Preto')
  """
)

DataFrame[]

In [8]:
spark.sql("select * from local.carro_iceberg").show()

+---+-------+----------+------+----+-----+
| id|  placa|     marca|modelo| ano|  cor|
+---+-------+----------+------+----+-----+
|  1|ABC1234|      Fiat|   Uno|2020| Azul|
|  2|XYZ5678|Volkswagen|   Gol|2018|Preto|
+---+-------+----------+------+----+-----+

In [9]:
spark.sql(
  """
  CREATE TABLE local.cliente_iceberg (
    id INT,
    nome STRING,
    email STRING
  ) USING iceberg
  """
)

DataFrame[]

In [10]:
spark.sql(
  """
  ALTER TABLE local.cliente_iceberg ADD COLUMNS (telefone STRING, endereco STRING)
  """
)

DataFrame[]

In [11]:
spark.sql(
  """
  INSERT INTO local.cliente_iceberg VALUES
    (1, 'João Silva', 'joao.silva@email.com', '123456789', 'Rua A, 123'),
    (2, 'Maria Oliveira', 'maria.oliveira@email.com', '987654321', 'Avenida B, 456'),
    (3, 'Carlos Souza', 'carlos.souza@email.com', '112233445', 'Rua C, 789'),
    (4, 'Aline Lima', 'aline@email.com', '556677889', 'Rua D, 101')
  """
)

DataFrame[]

In [12]:
spark.sql("SELECT * FROM local.cliente_iceberg").show()

+---+--------------+--------------------+---------+--------------+
| id|          nome|               email| telefone|      endereco|
+---+--------------+--------------------+---------+--------------+
|  1|    João Silva|joao.silva@email.com|123456789|    Rua A, 123|
|  2|Maria Oliveira|maria.oliveira@em...|987654321|Avenida B, 456|
|  3|  Carlos Souza|carlos.souza@emai...|112233445|    Rua C, 789|
|  4|    Aline Lima|     aline@email.com|556677889|    Rua D, 101|
+---+--------------+--------------------+---------+--------------+

In [13]:
spark.sql('delete from local.cliente_iceberg where id = 3')

DataFrame[]

In [14]:
spark.sql("SELECT * FROM local.cliente_iceberg").show()

+---+--------------+--------------------+---------+--------------+
| id|          nome|               email| telefone|      endereco|
+---+--------------+--------------------+---------+--------------+
|  1|    João Silva|joao.silva@email.com|123456789|    Rua A, 123|
|  2|Maria Oliveira|maria.oliveira@em...|987654321|Avenida B, 456|
|  4|    Aline Lima|     aline@email.com|556677889|    Rua D, 101|
+---+--------------+--------------------+---------+--------------+